<body>
    <div class="home-container text-center text-white">

        <div class="overlay">
          <div class="card p-4 bg-dark bg-opacity-75 text-light mx-auto mt-5" style="width: 400px;">
            <h2 class="mb-3">Bem-vindo(a),!</h2>
      
            <button class="btn btn-primary w-100 mb-3" >
              Ir para o Dashboard
            </button>
      
            <button class="btn btn-danger w-100" >
              Sair
            </button>
          </div>
        </div>
      
      </div>
</body>