:host{
  width: 100dvw;
}


mat-drawer-container {
  position: fixed;
  width: 500px;
  height: 100vh;
  border: 1px solid #00132d;
  background-color: #00193b;
  color: white;
  animation-name: abrindoNav;
  animation-duration: 2s;
  z-index: 2;
}

a{
  text-decoration: none;
  font-size: larger;
  padding: 5px;
  width: 400px;
  padding-left: 20px;
  color: white;
}

ul{
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1px;
}

li{
  display: flex;
  flex-direction: column;
  width: fit-content;
  padding: 2px;
}

li :hover{
  background-color: #00132d;
  border-radius: 10px;
}