<app-header></app-header>
  <app-navbar></app-navbar>

  
<div class="container mt-4">

  <!-- TÍTULO (opcional) -->
  <h2 class="text-center mb-4">Dashboard FORD</h2>

  <!-- CARDS DO TOPO -->

  <div class="top-cards" >

    <div class="card">
      <h5>Buscar Modelo</h5>
  
      <input type="text"
             class="form-control"
             [(ngModel)]="pesquisaModelo"
             (input)="filterModels()"
             placeholder="Digite o modelo">
  
      <ul class="list-group mt-2" *ngIf="filtroModelo.length > 0">
        <li class="list-group-item"
            *ngFor="let m of filtroModelo"
            (click)="selectModel(m)">
          {{ m.vehicle }}
        </li>
      </ul>
    </div>
  

      <div class="card-info" *ngIf="selectedModel">
        <h6>Total de Vendas</h6>
        <h3>{{ selectedModel.volumetotal }}</h3>
      </div>
  
      <div class="card-info" *ngIf="selectedModel">
        <h6>Conectados</h6>
        <h3>{{ selectedModel.connected }}</h3>
      </div>
  
      <div class="card-info" *ngIf="selectedModel">
        <h6>Update Software</h6>
        <h3>{{ selectedModel.softwareUpdates }}</h3>
      </div>
  
    </div>
    

  <!-- IMAGEM DO CARRO -->
  <div class="imagemCarro" *ngIf="selectedModel">
    <img [src]="selectedModel.img" class="vehicle-img">
  </div>


  <!-- INPUT DE PESQUISA DE MODELO (AGORA EMBAIXO) -->
  


  <!-- INPUT DE PESQUISA VIN (EMBAIXO) -->
  <div class="card p-3 mt-4">
    <h5>Buscar Código VIN</h5>

    <input type="text"
           class="form-control mb-3"
           maxlength="20"
           [(ngModel)]="pesquisaCodigo"
           (input)="filterCodes()"
           placeholder="Digite um VIN">

    <div class="table-container" *ngIf="dadosCodigo">
      <table class="table">
        <thead>
          <tr>
            <th>Odômetro</th>
            <th>Nível Combustível</th>
            <th>Status</th>
            <th>Lat</th>
            <th>Long</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ dadosCodigo.odometro }}</td>
            <td>{{ dadosCodigo.nivelCombustivel }}</td>
            <td>{{ dadosCodigo.status }}</td>
            <td>{{ dadosCodigo.lat }}</td>
            <td>{{ dadosCodigo.long }}</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>

</div>
