/* ======== LAYOUT BASE ======== */
.container {
  max-width: 1100px;
  margin: auto;
}

/* ======== TÍTULO ======== */
h2 {
  font-weight: 700;
  letter-spacing: 1px;
  color: #0d3b66;
}

/* ======== CARDS DO TOPO ======== */
.top-cards {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  margin-bottom: 25px;
}

.card-info {
  flex: 1;
  background: white;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  transition: .2s ease-in-out;
  border-top: 5px solid #003399; /* Azul Ford */
}

.card-info:hover {
  transform: translateY(-4px);
}

.card-info h6 {
  font-size: 14px;
  font-weight: 600;
  color: #555;
  margin-bottom: 8px;
}

.card-info h3 {
  font-size: 28px;
  font-weight: bold;
  color: #003399;
}

/* ======== IMAGEM DO VEÍCULO ======== */

.imagemCarro{
  display: flex;
  justify-content: center;
}

.vehicle-img {
  width: 70%;
  max-width: 500px;
  border-radius: 10px;
  filter: drop-shadow(0 6px 14px rgba(0,0,0,0.35));
}

/* ======== CARD DE PESQUISA ======== */
.model-card,
.card {
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.12);
  border: none;
}


.model-card h5,
.card h5 {
  font-weight: 700;
  color: #003399;
}

/* ======== LISTA DE MODELOS ======== */
.list-group-item {
  cursor: pointer;
  transition: 0.2s;
}

.list-group-item:hover {
  background: #003399;
  color: white;
}

/* ======== TABELA ======== */
.table-container {
  margin-top: 20px;
}

.table {
  background: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0,0,0,0.12);
}

.table thead {
  background: #003399;
  color: white;
}

.table th {
  text-align: center;
}

.table td {
  text-align: center;
  font-weight: 500;
}

/* ======== RESPONSIVIDADE ======== */
@media (max-width: 768px) {
  .top-cards {
    flex-direction: column;
  }

  .vehicle-img {
    width: 95%;
  }
}
