
<body>
    <section>
        <div>
            <img id="carro" src="./img/ranger.png" alt="">
        </div>

    </section>
    <section>
        <div>
            <img class="logoFord" src="./img/ford.png" alt="">
        </div>
        <div class="login">
            <form id="login_input">
                <input type="text" name="usuario" id="usuario" placeholder="Nome de usuário" >
                <input type="password" name="senha" id="senha" placeholder="Senha">
            </form>
        </div>
    </section>
</body>