
<body>
    <section>
        <div class="login">
            <img id="carro" src="./img/ranger.png" alt="">
        </div>
        <div class="login">
            <div id="logoFord">
                <img  src="./img/ford.png" alt="">
            </div>
            <div class="login_form">
                <form>
                    <input type="text" name="usuario" id="usuario" placeholder="Nome de usuário" >
                    <input type="password" name="senha" id="senha" placeholder="Senha">
                </form>
            </div>
        </div>
    </section>
</body>