<section class="imagem_carro">
            <img id="carro" src="/assets/img/ranger.png" alt="">
        </section>
    <section>
        <div class="login">
            <div class="login_logo">
                <img id="logoFord" src="/assets/img/ford.png" alt="">
            </div>

            <div class="login_texto">
                <p>Faça seu login.</p>
            </div>
            <div class="login_formulario">
                <form (ngSubmit)="fazerLogin()" #loginForm="ngForm">
                    <input [(ngModel)]="usuario.nome"  type="text" name="nome" id="nome" placeholder="Nome de usuário" >
                    <input [(ngModel)]="usuario.senha"  type="password" name="senha" id="senha" placeholder="Senha">
                    <button type="submit" class="formulario_botao">Entrar</button>
                </form>
            </div>
        </div>
</section>