body{
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;

}

#carro{
    width: 39rem;
    
}

.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem;
    width: 90%;
}

#logoFord img{
    width: 250px;
    padding-bottom: 5rem;
    
}

section{
    display: flex;
    width: 80%;
    gap: 1%;

}

.login form{
    display: flex;
    flex-direction: column;
    width: 25rem;
    gap: 10px;
}

.login form input{
    border: 1px solid gray;
    border-radius: 4px;
    padding: 7px;
}

.login_form{
    box-shadow: 10px 5px 5px gray;
    border: 2px solid gray;
    border-radius: 8px;
    padding: 5rem;
    
}
