@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

body{
    font-size: 30px;
    font-family: "Roboto Flex", sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100dvh;
    width: 100dvw;
    box-sizing: border-box;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 4px;

}

.imagem_carro{
    padding-top: 20%;
    width: 50%;
}

#carro{
    width: 100%;
}

.login{
    display: flex;
    min-height: 100dvh;
    flex-direction: column;
    justify-content: flex-start;
    background-color: rgb(42, 71, 151);
    align-items: center;
    padding-inline: 3rem;
}

.login_logo{
    padding-top: 30px;
}

.login_texto{
    margin-top: auto;
    margin-bottom: 0;
    font-weight: 400;
    color: white;
}

.login_formulario{
    margin-bottom: auto;
    margin-top: 0;
    border: 1px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    padding: 4rem;
    -webkit-box-shadow: 1px 3px 18px 10px rgba(0, 0, 0, 0.52); 
    box-shadow: 1px 3px 18px 10px rgba(0, 0, 0, 0.52);
}

.formulario_botao{
    border: none;
    background-color: rgb(0, 0, 155);
    color: white;
    border-radius: 5px;
    padding: 5px;
    padding-inline: 15px;
    margin-top: 10px;
    cursor: pointer;
}

#logoFord{
    width: 200px;
}


.login form{
    display: flex;
    flex-direction: column;
    width: 25rem;
    gap: 10px;
}

.login form input{
    border: 1px solid gray;
    border-radius: 4px;
    padding: 1rem;
}

@media screen and (max-width: 768px){
    
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }

      body{
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
      }
      
      app-root {
        display: block;
        min-height: 100%;
      }

    .imagem_carro{
        display: none;
    }

    .login{
        min-width: 100vw;

    }

    .login_formulario{
        padding: 5rem 1rem;
    }


}
