.header{
    justify-content: space-between;
    padding-inline: 5px;
    width: 100dvw;
    background-color: #00132d;
}

.menu{
    text-decoration: none;
    border: none;
    color: white;
    background-color: transparent;
}

.usuario{
    border-radius: 50%;
    cursor: pointer;
    border: white;
    background-color: rgba(132, 149, 164, 0.558);
}


